:root {
  --primary-color-1: #00b3fc;
  --primary-color-2: #7f409f;
  --home-text-color: #f7f9ff;
  --liked-color: #ff9e3a;
}

// CardModel
.primary-box-shadow-1 {
  box-shadow: 0 5px 8px rgba(#00b3fc, 0.1), 0 7px 18px 0 rgba(#00b3fc, 0.1);
}

.primary-box-shadow-1-2 {
  box-shadow: 0 1px 1px rgba(#7f409f, 0.5), 0 2px 4px 0 rgba(#7f409f, 0.5);

  &:hover {
    box-shadow: 0 1px 1px rgba(#00b3fc, 0.5), 0 2px 4px 0 rgba(#00b3fc, 0.5);
  }
}

.primary-box-shadow-1-3 {
  box-shadow: 0 1px 1px rgba(#00b3fc, 0.1), 0 0px 18px 0 rgba(#00b3fc, 0.1);
}

.primary-box-shadow-2 {
  box-shadow: 0 1px 5px rgba(#7f409f, 0.1);
}

.primary-box-shadow-2-1 {
  box-shadow: 0 11px 20px 0 rgba(#7f409f, 0.1);
}
